* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  background-color: whitesmoke;
}
body {
  overflow: hidden;
}

#main-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
}

#navbar {
  display: flex;
  flex-direction: column;
  border-right: 3px solid rgba(0, 0, 0, 0.5);
  overflow: scroll;
  max-height: 100vh;
}

#navbar header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 70px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  left: 0;
  background-color: whitesmoke;
}
#navbar h1 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}
.nav-link {
  display: flex;
  align-items: center;
  flex: 0 0 50px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0, 0.8);
  text-decoration: none;
  padding-left: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.7);
}

.nav-link:last-child {
  border-bottom: none;
}

#main-doc {
  height: 100vh;
  overflow: scroll;
}

.main-section {
  padding: 2rem;
  min-height: 100vh;
}
.main-section header {
  margin-top: -2rem;
  padding: 2rem;
  padding-left: 0;
  padding-bottom: 0;
  font-size: 1.7rem;
}

.main-section ul {
  list-style-type: none;
}

#main-doc p {
  font-size: 1.1rem;
  margin: 2rem;
}
#main-doc code {
  width: 80%;
  margin: 0 auto;
  font-family: monospace;
  font-size: 0.9rem;
  display: block;
  padding: 2rem;
  overflow: scroll;
  background-color: rgba(176, 196, 222, 0.2);
}

@media (max-width: 815px) {
  #main-grid {
    display: block;
    overflow: scroll;
  }

  #main-doc {
    min-height: 100vh;
    overflow: initial;
  }

  #navbar header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    border-bottom: 3px solid rgb(0, 0, 0, 0.5);
  }

  #navbar {
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    border-right: none;
    height: 280px;
  }
}
